 @model Product 
 <div class="card">
            <img class="card-img-top" src="~/img/@Model.ImageUrl" alt=""> @*Model.Imageurl yazdım product clastaki yeri çünkü artık burasıda dinamik*@
            <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <a href="" class="btn btn-primary"></a>   
            </div>
   </div>